body {
    background-color: #84aae2;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}


.logo-principal {
    max-width: 300px;
}


.card-img-custom {
    max-width: 200px;
}


.card-movie-1 {
    background-color: #003366;
    color: #ffffff;
}

.card-movie-2 {
    background-color: #004080;
    color: #ffffff;
}

.card-movie-3 {
    background-color: #0059b3;
    color: #ffffff;
}


.card-encabezado {
    background-color: #002244;
    color: #ffffff;
}

.ranking {
    background-color: #002244;
    color: #ffffff;
}

.formulario-suscripcion {
    background-color: #e6e6e6;
    color: #333333;
}